# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
build/
.next/
out/

# turbo
.turbo/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea/

# os
.DS_Store
Thumbs.db

# prisma
packages/database/generated/

# lokale Medien-Uploads
apps/api/uploads/
apps/api/uploads-trash/

# misc
coverage/
*.tsbuildinfo
